.button {
    font-family: "Special Elite", "Courier New", Courier, monospace;
    font-size: 20px;
    padding: 12px 10px 8px 10px;
    background-color: whitesmoke;
    color: var(--main-color-dark);
    border: solid 2px var(--main-color-dark);
    max-width: fit-content;
    border-radius: 4px;
    transition: filter 0.2s;
}

.buttonConcise {
    font-family: "Special Elite", "Courier New", Courier, monospace;
    font-size: 20px;
    padding: 10px;
    background-color: whitesmoke;
    color: var(--main-color-dark);
    border: solid 2px var(--main-color-dark);
    max-width: fit-content;
    border-radius: 4px;
    transition: filter 0.2s;
}

.button:hover {
    cursor: pointer;
    filter: brightness(0.85);
}

.button:disabled,
.disabled {
    background-color: #ccc;
    color: #888;
    border-color: #bbb;
    cursor: default;
    filter: none;
}
