.page {
    height: calc(100vh - 68px);
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    position: relative;
}

.container {
    border: solid whitesmoke 2px;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    margin: 20px;
    flex: 1;

    @media (min-width: 1500px) {
        margin: 40px 100px;
    }
}

.textContainer {
    margin: auto;
    white-space: nowrap;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 15px;

    @media (min-width: 1500px) {
        font-size: 72px;
        margin-bottom: 30px;
    }
}

.text {
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;

    @media (min-width: 1500px) {
        font-size: 32px;
        margin-bottom: 30px;
    }
}

.link {
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
    color: whitesmoke;

    @media (min-width: 1500px) {
        font-size: 32px;
        margin-bottom: 30px;
    }
}

.link:hover {
    text-decoration: underline;
    color: rgb(212, 212, 212);
}

.foxContainer {
    position: absolute;
    top: 8px;
    left: 8px;
    height: 35%;

    @media (min-width: 768px) {
        height: 50%;
    }

    @media (min-width: 1500px) {
        top: 20px;
        left: 60px;
    }
}

.fox {
    width: auto;
    height: 100%;
    display: block;
}

.signOverlay {
    position: absolute;
    left: 29%;
    top: 47%;
    width: 70%;
    height: 22%;
    transform: rotate(-11deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    text-align: center;
    color: whitesmoke;
}

.signText {
    line-height: 1.5;
    padding: 12px;
    font-size: 12px;

    @media (min-width: 768px) {
        padding: 18px;
        font-size: 18px;
    }
}

.raven {
    position: absolute;
    height: 35%;

    bottom: 8px;
    right: 8px;

    @media (min-width: 768px) {
        height: 50%;
    }

    @media (min-width: 1500px) {
        bottom: 20px;
        right: 60px;
    }
}
