.section {
    display: flex;
    flex-direction: column;
    margin: 38px 15px 15px 15px;
    border: solid whitesmoke 2px;

    @media (min-width: 1500px) {
        margin: 108px 100px 0 100px;
    }

    .title {
        color: whitesmoke;
        font-size: 36px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: var(--background-color);
        padding: 0 20px;
    }

    .paragraphsContainer {
        margin: 18px 10px;

        @media (min-width: 1500px) {
            margin: 38px 40px;
        }

        .paragraph {
            margin: 10px 0;
            color: whitesmoke;
            font-size: 20px;
            text-align: justify;
            line-height: 1.3;
        }

        .hr {
            border: none;
            border-top: 2px solid whitesmoke;
            margin: 16px 0;
        }
    }

    .childernContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10px 28px 10px;

        @media (min-width: 1500px) {
            margin: 0 40px 38px 40px;
        }
    }
}
