.footer {
    height: 32px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.footerText {
    margin: auto;
    text-align: center;
    font-size: 12px;
    color: whitesmoke;
}
